<div _ngcontent-vff-c3="" class="container">
    <div _ngcontent-vff-c3="" class="content_header">&nbsp;</div>
    <div _ngcontent-vff-c3="" class="titlePage"> สมัครสมาชิก </div>
    <div _ngcontent-vff-c3="" class="contentPageArea">
        <div _ngcontent-vff-c3="" class="titlePage2">สมัครสมาชิกเรียบร้อยแล้ว !</div>
        <a _ngcontent-vff-c3="" href="http://line.me/ti/p/~@Vegusgo" style="text-decoration: none;color:white;" target="_bank">
            <div _ngcontent-vff-c3="" class="image-regiscomplete"><img _ngcontent-vff-c3="" height="100%" src="/assets/images/content/register-page.jpg" width="100%"></div>
        </a>
        <div _ngcontent-vff-c3="" class="qr_area_regiscomplete center">
            <div _ngcontent-vff-c3="" class="detailLeft">
                <div _ngcontent-vff-c3="" class="text_line" style="font-size: 1.2em;">หรือติดต่อได้ที่</div>
                <div _ngcontent-vff-c3="" class="text_line" style="font-weight: 100px;font-size: 14px;">ID Line: @Vegusgo</div>
            </div>
            <div _ngcontent-vff-c3="" class="detailRight"><img _ngcontent-vff-c3="" class="image_qr" src="/assets/images/icon/qrcode.jpg?v=1.1"></div>
        </div>
    </div>
</div>