<div class="footerArea2">
    <div class="container footer">
        <div class="detail_left">
            <div class="logo_area_footer"><img alt="" src="/assets/images/logo/logo.png?v=1.1"></div>
        </div>
        <div class="detail_right">
            <div class="logo_footer">
                <div class="menu_footer_">
                    <span class="links_footer" routerLink="/home" style="border-left: 0px !important;" tabindex="0" ng-reflect-router-link="/home">หน้าแรก</span>
                    <span class="links_footer" routerLink="/page/waytoplay" tabindex="0">ทางเข้าเล่น</span>
                    <span class="links_footer" routerLink="/page/deposit" tabindex="0">ฝาก</span>
                    <span class="links_footer" routerLink="/page/withdraw" tabindex="0">ถอน</span>
                    <span class="links_footer" routerLink="/promotion" tabindex="0">โปรโมชั่น</span>
                    <!-- <span  class="links_footer" routerLink="/page/howtoplay" tabindex="0" >วิธีใช้งาน</span> -->
                    <span class="links_footer" routerLink="/page/contact" style="border-right: 0px !important;" tabindex="0">ติดต่อเรา</span>
                </div>
            </div>
            <div _ngcontent-udc-c2=""><img _ngcontent-udc-c2="" class="tt_img_hover" src="assets/images/footer/bank.png" style="clear: both;padding-bottom: 10px;"></div>
            <div class="footer_visa" style="float: right; clear:both;margin-right:8px;margin-top:0px;">
                <div style="float: right;clear: both;"><img class="tt_img_hover" src="assets/images/footer/visa.png"></div>
            </div>
        </div>
    </div>
</div>