<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of imageUrls" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
    </div>
</ngx-slick-carousel>
<div class="content_">
    <div _ngcontent-udc-c4="" class="container">
        <div _ngcontent-udc-c4="" class="div_icon_area">
            <div _ngcontent-udc-c4="" class="div_4" routerLink="/page/deposit" tabindex="0" ng-reflect-router-link="/page/deposit"><img _ngcontent-udc-c4="" class="tt_img_df hvr-push hover aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" src="assets/images/content/deposit.png"></div>
            <div _ngcontent-udc-c4="" class="div_4" routerLink="/page/withdraw" tabindex="0" ng-reflect-router-link="/page/withdraw"><img _ngcontent-udc-c4="" class="tt_img_df hvr-push hover aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" src="assets/images/content/withdraw.png"></div>
            <div _ngcontent-udc-c4="" class="div_4" routerLink="/promotion" tabindex="0" ng-reflect-router-link="/promotion"><img _ngcontent-udc-c4="" class="tt_img_df hvr-push hover aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" src="assets/images/content/promotion.png"></div>
            <div _ngcontent-udc-c4="" class="div_4" routerLink="/page/register" tabindex="0" ng-reflect-router-link="/page/register"><img _ngcontent-udc-c4="" class="tt_img_df hvr-push hover aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" src="assets/images/content/register.png"></div>
        </div>
        <div _ngcontent-udc-c4="" class="div_icon_area">
            <div _ngcontent-udc-c4="" class="div_3"><img _ngcontent-udc-c4="" class="tt_img_df hvr-push hover aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" src="assets/images/content/sport.jpg?v=1.1"></div>
            <div _ngcontent-udc-c4="" class="div_3"><img _ngcontent-udc-c4="" class="tt_img_df hvr-push hover aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" src="assets/images/content/lotto.jpg"></div>
            <div _ngcontent-udc-c4="" class="div_3"><img _ngcontent-udc-c4="" class="tt_img_df hvr-push hover aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" src="assets/images/content/muay.jpg"></div>
        </div>
        <div _ngcontent-udc-c4="" class="div_icon_area">
            <div _ngcontent-udc-c4="" class="div_3"><img _ngcontent-udc-c4="" class="tt_img_df hvr-push hover aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" src="assets/images/content/casino.jpg"></div>
            <div _ngcontent-udc-c4="" class="div_3"><img _ngcontent-udc-c4="" class="tt_img_df hvr-push hover aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" src="assets/images/content/roulette.jpg"></div>
            <div _ngcontent-udc-c4="" class="div_3"><img _ngcontent-udc-c4="" class="tt_img_df hvr-push hover aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-once="true" src="assets/images/content/slot.jpg"></div>
        </div>
        <div _ngcontent-udc-c4="" class="div_1" style="float:left;padding-top:20px;">
            <div _ngcontent-udc-c4="" style="font-size: 2em; text-align: center; color: white;"><span _ngcontent-udc-c4="" style="color: yellow;">VEGUSGO.COM</span> เว็บไซต์แทงพนันออนไลน์ </div>
            <div _ngcontent-udc-c4="" class="textDes"> เดิมพันออนไลน์ครบวงจร แทงบอลออนไลน์ คาสิโนออนไลน์ มือถือ บาคาร่าออนไลน์ มือถือ รูเล็ต ไฮโลออนไลน์ แทงคาสิโนสด Live casino เราคือตัวแทนโดยตรงจาก Vegus168 เว็บให้บริการพนันออนไลน์ยอดนิยม ระบบแทงพนันมาตรฐานสากล ออกราคาบอล ราคาแทงพนันยุติธรรม
                รองรับการเล่นทั้งคอมพิวเตอร์ และ บาคาร่ามือถือ คาสิโนมือถือ ทุกระบบ ไม่ต้องโหลดแอพ มีทั้ง baccarat บาคาร่า , soccerbet แทงบอล , casino คาสิโนออนไล์ , slot สล็อต , roulette รูเล็ต , sicbo ไฮโล , basketball betting แทงบาส , ไพ่ blackjack
                , lotto หวย , cock fightinh ไก่ชน , muay thai แทงมวย , เสือมังกร , แทงบอลสูงต่ำ , แทงบอลชุด , แทงบอลเดี่ยว , fishing game เกมยิงปลา เดิมพันตรงกับบริษัทแม่ ไม่ผ่านเอเยนต์ บริการโดยทีมงานที่มีประสบการณ์ เข้าใจ รู้ลึก รู้จริง <span _ngcontent-udc-c4=""
                    style="color:red"> พร้อมให้บริการตลอด 24 ชั่วโมง </span><span _ngcontent-udc-c4="" style="color: yellow;">VEGUSGO</span><br _ngcontent-udc-c4=""> แหล่งรวม คาสิโน ที่ดีที่สุด เว็บบาคาร่าที่ดีที่สุด บาคาร่า sagaming , sexybaccarat เซ็กซี่บาคาร่า
                , vivogaming , sunbet , sunmacou , slotciti , allbet , รวมทุกทางเข้าเล่น vegus , 168vegus , vegus168 , เวกัส168 , เวกัส 168 คาสิโน , vegus 168casino , ยูฟ่า ufa , ยูฟ่าเบท ufabet , ยูฟ่าคาสิโน ufacasino , สโบเบท sbobet , สโบ sbo , สโบเบท
                คาสิโน sbobetcasino , sbobet baccarat , บาคาร่า sbobet , fifa55 , slot777 สล็อต777 , เว็บบาคาร่าsa <br _ngcontent-udc-c4=""><br _ngcontent-udc-c4=""> สมัครบาคาร่า สมัครแทงบอล สมัครคาสิโนออนไลน์ สมัครvegus168 สมัคร168vegus ง่ายๆเพียง
                <span _ngcontent-udc-c4="" style="color:#1EED08">ADD LINE : @VEGUSGO ( มี@ )</span><br _ngcontent-udc-c4=""><br _ngcontent-udc-c4=""><span _ngcontent-udc-c4="" style="color: yellow;">VEGUSGO</span> LOGIN ตรงบริษัทแม่ มั่นคง <span _ngcontent-udc-c4=""
                    style="color:red">เปิด24 ชม</span> บริการดี คาสิโนออนไลน์ ได้เงินจริง คาสิโนออนไลน์จ่ายเงินจริง สามารถติดตามสลิปได้ทาง LINE เรา แจกเครดิตฟรี สำหรับสมาชิก รับเครดิตฟรี ทุกวันที่หน้าเว็บ เล่นบาคาร่าออนไลน์ฟรี VEGUSGO ตัวจริงที่กล้ามอบสิ่งดีๆให้ลูกค้าทุกวัน
                เราจึงเป็น เว็บบาคาร่ายอดนิยม และ เว็บแทงบอลออนไลน์ยอดนิยม หากลูกค้ากำลังมองหา เว็บบาคาร่าดีๆ เว็บแทงบอลดีๆ เว็บคาสิโนออนไลน์ดีๆ ต้อง<span _ngcontent-udc-c4="" style="color: yellow;"> VEGUSGO</span> ด้วยรีวิวดีๆมากมายจากลูกค้าเป็นเครื่องการันตีอย่างดีเยี่ยมให้เราเป็นที่1
                ของ <span _ngcontent-udc-c4="" style="color: yellow;">VEGUSGO</span></div>
        </div>
        <div _ngcontent-udc-c4="" class="div_icon_area" style="padding-left:50px; padding-right: 50px;padding-top:20px;">
            <div _ngcontent-udc-c4="" class="div_2">
                <div _ngcontent-udc-c4="" style="float: left; height: 50px; background: red; width: 100%; text-align: center;color: white;padding-top:10px;font-size: 1.2em;font-weight: bold;"> สมัครเล่น Vegusgo </div>
                <div _ngcontent-udc-c4="" style="float:left; width:100%; text-align: left;color: white;padding-left:30px;padding-top:10px;padding-bottom:22px;background: #464847;">
                    <div _ngcontent-udc-c4="" style="padding-top:10px;">1. Line@: @vegusgo (มี @)</div>
                    <div _ngcontent-udc-c4="" style="padding-top:10px;">2. แจ้งรายละเอียด โอนเงินเปิดเครดิต</div>
                    <div _ngcontent-udc-c4="" style="padding-top:10px;">3. ใช้ User / password เข้าเล่นได้ทันที</div>
                </div>
            </div>
            <div _ngcontent-udc-c4="" class="div_2">
                <div _ngcontent-udc-c4="" style="float: left; height: 50px; background: #252525; width: 100%;text-align: center;color: white;padding-top:10px;font-size: 1.2em;font-weight: bold;"> ทางเข้าเล่น </div>
                <div _ngcontent-udc-c4="" class="btn_play_area">
                    <div _ngcontent-udc-c4="" class="btn_play">ทางเข้าเล่น : 1</div>
                    <div _ngcontent-udc-c4="" class="btn_play">ทางเข้าเล่น : 2</div>
                    <div _ngcontent-udc-c4="" class="btn_play">ทางเข้าเล่น : 3</div>
                    <div _ngcontent-udc-c4="" class="btn_play">ทางเข้าเล่น : 4</div>
                </div>
            </div>
        </div>
        <div _ngcontent-udc-c4="" class="div_icon_area bottom_area">
            <div _ngcontent-udc-c4="" class="div_2"><img _ngcontent-udc-c4="" alt="" src="assets/images/content/callcenter.jpg"></div>
            <div _ngcontent-udc-c4="" class="div_2"><img _ngcontent-udc-c4="" alt="" class="promotion_bottom" src="assets/images/content/promotion2.jpg"><img _ngcontent-udc-c4="" alt="" class="howto_bottom" src="assets/images/content/money.jpg"></div>
        </div>
    </div>
</div>

<div _ngcontent-gyx-c3="" attr="http://line.me/ti/p/~@ufab89" class="qr-popup"><i _ngcontent-gyx-c3="" aria-hidden="true" class="fa fa-window-close fa-6 close-qr"></i></div>